#fxied{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.home {
	ul li a{
		display: block;
	}
}

.page{
  background: #f8f8f8;
}

.footer-bar{
  //z-index: 9999;
}

.weui-page{
  background: #FFF;
}

.pos-r{
  position: relative;
}

.pos-a{
  position: absolute;
}

.db{
  display: block;
}

.di-b{
  display: inline-block;
}

.ta-c{
  text-align: center;
}

*{
  outline: none;
}
