.icon-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  >span{
    padding-top: 5px;
    font-size: 12px;
  }
}

.weui-flex{
  justify-content: space-around;
}

.pt-10{
  padding-top: 10px;
}

.pb-10{
  padding-bottom: 10px;
}

.mt-10{
  margin-top: 10px;
}

a{
  color: inherit;
}
.icon-fs{
  font-size: 28px!important;
}
.icon-fs-small{
  font-size: 24px!important;
}
.orange{
  color: #ffa500
}
.deepskyblue{
  color: deepskyblue;
}
.hotpink{
  color: hotpink;
}
.yellowgreen{
  color: yellowgreen;
}
.lightskyblue{
  color: lightskyblue;
}
.lightseagreen{
  color:lightseagreen;
}
.firebrick{
  color: firebrick;
}
.rebeccapurple{
  color:rebeccapurple;
}
.orangered{
  color: orangered;
}
.darkslategrey{
  color:darkslategrey;
}
.deeppink{
  color:deeppink;
}
.mediumseagreen{
  color:mediumseagreen;
}
.darkorange{
  color:darkorange;
}


